@font-face {
  font-family: Anton;
  src: url('../fonts/Anton-Regular.woff2') format('woff2'),
       url('../fonts/Anton-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Semibold.woff2') format('woff2'),
       url('../fonts/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Medium.woff2') format('woff2'),
       url('../fonts/Lato-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
       url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}