@media screen and (max-height: 568px) {
  .nav__link {
    margin: -3px 0;
    width: 163px;

    &-span {
      font-size: 39px;
    }
  }
}
@media screen and (max-height: 400px) {
  .nav__link {
    margin: -10px 0;
    width: 150px;
    transform: translateY(-20px);

    &-span {
      font-size: 35px;
    }
  }
}
@media screen and (min-width: 430px) {
  .home {
    &__socials {
      right: $medium-screen-margin;
      bottom: $medium-home-bottom-margin;
    }
    &__info-container {
      left: $medium-screen-margin;
      bottom: $medium-home-bottom-margin;
    }
    &__title {
      font-size: 43px;
      width: 275px;
    }
  }
  .nav-button {
    right: $medium-screen-margin;
    top: $medium-home-bottom-margin;
  }
}
@media screen and (min-width: 750px) {
  .home {
    &__title {
      font-size: 47px;
      width: 301px;
    }
  }
  .nav-button {
    transform: scale(1.1);
  }
  .nav__link {
    transform: translateX(-7vw);
  }
}
@media screen and (min-height: 900px) {
  .home {
    &__title {
      font-size: 60px;
      width: 384px;
    }
    &__socials {
      transform: scale(1.2);
    }
  }
  .nav-button {
    transform: scale(1.3);
  }
  .nav__link {
    font-size: 80px;
    margin: 10px 0;
  }
}
@media screen and (min-height: 1050px) {
  .home {
    &__socials {
      transform: scale(1.4);
    }
  }
  .nav-button {
    transform: scale(1.5);
  }
}
@media screen and (min-height: 1200px) {
  .home {
    &__title {
      font-size: 90px;
      width: 577px;
    }
    &__socials {
      transform: scale(1.6);
    }
  }
  .nav__link {
    font-size: 90px;
    margin: 12px 0;
  }
  .nostrud {
    .section {
      &__content {
        top: 40% !important;
      }
      &__illustration {
        top: 65%;
      }
      &__decor {
        max-width: 140px;
        max-height: 140px;
      }
    }
  }
}
@media screen and (min-height: 1300px) {
  .nav-button {
    transform: scale(1.8);
  }
}
@media screen and (min-width: 800px) {
  .home {
    &__title {
      font-size: 60px;
      width: 577px;
    }
  }
  .section__ticker-text {
    animation-duration: 14s;
  }
}
@media screen and (min-width: 1170px) {
  .home {
    &__socials {
      right: $large-screen-margin;
    }
    &__info-container {
      left: $large-screen-margin;
    }
    &__socials {
      transform: scale(1.2);
    }
  }
  .nav-button {
    right: $large-screen-margin;
  }
  .gallery {
    .swiper-button-prev {
      left: calc((100vw - 1140px) / 2 + 10px);
    }
    .swiper-button-next {
      right: calc((100vw - 1140px) / 2 + 10px);
    }
  }
}
@media screen and (min-width: 330px), screen and (min-height: 600px) {
  .section {
    &__content {
      padding: 37px 25px;
      width: 190px;

      &-title {
        font-size: 18px;
      }
      &-text {
        line-height: 1.4;
        font-size: 13px;
        width: 170px;
      }
    }
  }
  .gallery {
    .swiper-pagination {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }
}
@media screen and (min-width: 470px), screen and (min-height: 690px) {
  .section {
    &__content {
      padding: 42px 30px;
      width: 210px;

      &-title {
        font-size: 21px;
      }
      &-text {
        font-size: 14px;
        width: 180px;
      }
    }
  }
}
@media screen and (min-width: 640px), screen and (min-height: 800px) {
  .section {
    &__content {
      padding: 47px 40px;
      width: 240px;

      &-title {
        font-size: 25px;
      }
      &-text {
        margin-top: 30px;
        font-size: 17px;
        width: 210px;
      }
    }
  }
  .risquis {
    &__content {
      left: 46% !important;
    }
  }
}
@media screen and (min-width: 700px), screen and (min-height: 950px) {
  .section {
    &__content {
      padding: 60px 40px;
      width: 300px;

      &-title {
        font-size: 30px;
      }
      &-text {
        font-size: 18px;
        width: 210px;
      }
    }
  }
  .nostrud {
    .section {
      &__content {
        top: 38%;
      }
    }
  }
}
@media screen and (min-width: 750px), screen and (min-height: 1100px) {
  .section {
    &__content {
      padding: 75px 52px;
      width: 350px;

      &-title {
        font-size: 35px;

        &::before {
          height: 2px;
        }
      }
      &-text {
        margin-top: 40px;
        font-size: 20px;
        width: 280px;
      }
    }
  }
}
@media screen and (orientation: landscape) {
  .home {
    &__title {
      left: 27%;
      transform: translateY(-50%);
    }
  }
  .section {
    &__title {
      transform: translate(-1px, -10.5px);

      &--hidden {
        transform: translate(-1px, -10.5px) translateY(-50px);
      }
    }
    &__ticker-text {
      animation-duration: 10s;
    }
    &__illustration {
      position: static;
      transform: translate(0, 0);
    }
    &__content {
      position: static;
      transform: translate(0, 0);
      background: none;
      margin-right: 10vw;
    }
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__decor-2 {
      display: block;
    }
  }
  .risquis {
    &__decor {
      &-1 {
        top: 75% !important;
      }
      &-2 {
        top: 30%;
        left: 95%;
      }
    }
  }
  .nostrud {
    &__inner {
      flex-direction: row-reverse;
    }
    &__content {
      margin-right: 0;
      margin-left: 10vw;
    }
    &__decor {
      &-1 {
        top: 33% !important;
        left: 3% !important;
      }
      &-2 {
        top: 81%;
        left: 86%;
      }
    }
  }
  &__content {
    margin-right: 0;
    margin-left: 10vw;
  }
  .gallery {
    .swiper-button-prev, .swiper-button-next {
      display: block;
    }
  }
  @media screen and (min-width: 500px) {
    .section {
      &__content {
        padding: 60px 40px;
        width: 300px;
  
        &-title {
          font-size: 30px;
        }
        &-text {
          margin-top: 40px;
          font-size: 16px;
          width: 100%;
        }
      }
    }
  }
}