@media screen and (max-height: 568px) {
  .nav__link {
    margin: -3px 0;
    width: 163px;

    &-span {
      font-size: 39px;
    }
  }
}
@media screen and (max-height: 400px) {
  .nav__link {
    margin: -10px 0;
    width: 150px;
    transform: translateY(-20px);

    &-span {
      font-size: 35px;
    }
  }
}
@media screen and (min-height: 600px) {
  .contact {
    &__message {
      top: 41%;
    }
    &__links {
      top: 66%;
    }
    &__decor-1 {
      bottom: calc(34vh - 127px);
    }
  }
}
@media screen and (min-width: 430px) {
  .home {
    &__socials {
      right: $medium-screen-margin;
      bottom: $medium-home-bottom-margin;
    }
    &__info-container {
      left: $medium-screen-margin;
      bottom: $medium-home-bottom-margin;
    }
    &__title {
      font-size: 43px;
      width: 275px;
    }
  }
  .nav-button {
    right: $medium-screen-margin;
    top: $medium-home-bottom-margin;
  }
}
@media screen and (min-width: 750px) {
  .home {
    &__title {
      font-size: 47px;
      width: 301px;
    }
  }
  .nav-button {
    transform: scale(1.1);
  }
  .nav__link {
    transform: translateX(-7vw);
  }
}
@media screen and (min-height: 1050px) {
  .home {
    &__socials {
      transform: scale(1.4);
    }
  }
  .nav-button {
    transform: scale(1.5);
  }
}
@media screen and (min-height: 1200px) {
  .home {
    &__title {
      font-size: 90px;
      width: 577px;
    }
    &__socials {
      transform: scale(1.6);
    }
  }
  .nav__link {
    font-size: 90px;
    margin: 12px 0;
  }
  .nostrud {
    .section {
      &__content {
        top: 40% !important;
      }
      &__illustration {
        top: 65%;
      }
      &__decor {
        max-width: 140px;
        max-height: 140px;
      }
    }
  }
}
@media screen and (min-height: 1300px) {
  .nav-button {
    transform: scale(1.8);
  }
}
@media screen and (min-width: 800px) {
  .home {
    &__title {
      font-size: 60px;
      width: 577px;
    }
  }
  .section__ticker-text {
    animation-duration: 14s;
  }
}
@media screen and (min-width: 1170px) {
  .home {
    &__socials {
      right: $large-screen-margin;
    }
    &__info-container {
      left: $large-screen-margin;
    }
    &__socials {
      transform: scale(1.2);
    }
  }
  .nav-button {
    right: $large-screen-margin;
  }
  .gallery {
    .swiper-button-prev {
      left: calc((100vw - 1140px) / 2 + 10px);
    }
    .swiper-button-next {
      right: calc((100vw - 1140px) / 2 + 10px);
    }
  }
}
@media screen and (min-width: 330px), screen and (min-height: 600px) {
  .section {
    &__content {
      padding: 37px 25px;
      width: 190px;

      &-title {
        font-size: 18px;
      }
      &-text {
        line-height: 1.4;
        font-size: 13px;
        width: 170px;
      }
    }
  }
  .gallery {
    .swiper-pagination {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }
}
@media screen and (min-width: 470px), screen and (min-height: 690px) {
  .section {
    &__content {
      padding: 42px 30px;
      width: 210px;

      &-title {
        font-size: 21px;
      }
      &-text {
        font-size: 14px;
        width: 180px;
      }
    }
  }
}
@media screen and (min-width: 640px), screen and (min-height: 800px) {
  .section {
    &__content {
      padding: 47px 40px;
      width: 240px;

      &-title {
        font-size: 25px;
      }
      &-text {
        margin-top: 30px;
        font-size: 17px;
        width: 210px;
      }
    }
  }
  .risquis {
    &__content {
      left: 46% !important;
    }
  }
}
@media screen and (min-width: 700px), screen and (min-height: 950px) {
  .section {
    &__content {
      padding: 60px 40px;
      width: 300px;

      &-title {
        font-size: 30px;
      }
      &-text {
        font-size: 18px;
        width: 210px;
      }
    }
  }
  .nostrud {
    .section {
      &__content {
        top: 38%;
      }
    }
  }
}
@media screen and (min-width: 750px), screen and (min-height: 1100px) {
  .section {
    &__content {
      padding: 75px 52px;
      width: 350px;

      &-title {
        font-size: 35px;

        &::before {
          height: 2px;
        }
      }
      &-text {
        margin-top: 40px;
        font-size: 20px;
        width: 280px;
      }
    }
  }
}
@media screen and (min-height: 750px) {
  .contact {
    &__message {
      width: 251px;
      height: 331px;

      &-title {
        font-size: 23px;
      }
      &-text {
        font-size: 16px;
        margin-top: 28px;
      }
    }
    &__links {
      padding: 32px 22px 51px;
      top: 64vh;

      &-title {
        font-size: 19px;
      }
    }
    &__decor-1 {
      bottom: calc(36vh - 143px);
    }
  }
}
@media screen and (min-height: 850px) {
  .contact {
    &__message {
      width: 283px;
      height: 373px;

      &-title {
        font-size: 25px;
      }
      &-text {
        font-size: 17px;
        max-width: 180px;
        margin-top: 31px;
      }
    }
    &__links {
      padding: 37px 29px 56px;

      &-telegram {
        margin-top: 10px;
      }
    }
    &__decor-1 {
      left: calc(60vw - 150px);
      transform: scale(1.15);
    }
  }
}
@media screen and (min-height: 900px) {
  .home {
    &__title {
      font-size: 60px;
      width: 384px;
    }
    &__socials {
      transform: scale(1.2);
    }
  }
  .nav-button {
    transform: scale(1.3);
  }
  .nav__link {
    font-size: 80px;
    margin: 10px 0;
  }
}
@media screen and (min-height: 950px) {
  .contact {
    &__message {
      width: 350px;
      height: 461px;

      &-title {
        font-size: 34px;
      }
      &-text {
        max-width: 240px;
        font-size: 19px;
        margin-top: 40px;
        line-height: 1.3;
      }
    }
    &__links {
      padding: 41px 49px 60px;

      &-title {
        font-size: 23px;
      }
    }
    &__email-title, &__telegram-title {
      font-size: 18px;
    }
    &__email-text, &__telegram-text {
      font-size: 19px;
    }
    &__decor-1 {
      transform: scale(1.3);
      left: calc(60vw - 170px);
    }
  }
}
@media screen and (min-height: 1250px) {
  .contact {
    &__message {
      top: 43%;
    }
    &__links {
      top: 62%;
    }
  }
  &__decor-1 {
    transform: scale(1.5);
    left: calc(52vw - 170px);
  }
}
@media screen and (orientation: landscape) {
  .home {
    &__title {
      left: 27%;
      transform: translateY(-50%);
    }
  }
  .section {
    &__title {
      transform: translate(-1px, -10.5px);

      &--hidden {
        transform: translate(-1px, -10.5px) translateY(-50px);
      }
    }
    &__ticker-text {
      animation-duration: 10s;
    }
    &__illustration {
      position: static;
      transform: translate(0, 0);
    }
    &__content {
      position: static;
      transform: translate(0, 0);
      background: none;
      margin-right: 10vw;
    }
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__decor-2 {
      display: block;
    }
  }
  .risquis {
    &__decor {
      &-1 {
        top: 75% !important;
      }
      &-2 {
        top: 30%;
        left: 95%;
      }
    }
  }
  .nostrud {
    &__inner {
      flex-direction: row-reverse;
    }
    &__content {
      margin-right: 0;
      margin-left: 10vw;
    }
    &__decor {
      &-1 {
        top: 33% !important;
        left: 3% !important;
      }
      &-2 {
        top: 81%;
        left: 86%;
      }
    }
  }
  .gallery {
    .swiper-button-prev, .swiper-button-next {
      display: block;
    }
  }
  .contact {
    &__message {
      top: 50%;
      left: 35%;
      background: none;

      &-title {
        color: #fdfdfd;
        font-size: 30px;
        display: inline-block;

        &::before {
          background: #fdfdfd;
        }
      }
      &-text {
        color: #eaeaea;
        font-size: 15px;
        max-width: 100%;
      }
    }
    &__links {
      background: url('../images/contact/links-bg.svg') no-repeat center;
      background-size: 100% 100%;
      top: 58%;
      left: 52%;
      padding: 43px 23px 56px;
      margin-left: 10vw;

      &-telegram {
        margin-top: 9px;
      }
    }
    &__decor {
      width: 161px;
      height: 70px;

      &-1 {
        bottom: 13vh;
        left: 13vw;
      }
      &-2 {
        display: block;
        top: 13vh;
        right: 13vw;
      }
    }
  }
  @media screen and (min-width: 500px) {
    .section {
      &__content {
        padding: 60px 40px;
        width: 300px;
  
        &-title {
          font-size: 30px;
        }
        &-text {
          margin-top: 40px;
          font-size: 16px;
          width: 100%;
        }
      }
    }
    .contact {
      &__message {
        &-title {
          font-size: 40px;
        }
        &-text {
          font-size: 20px;
          margin-top: 40px;
          font-size: 18px;
          line-height: 1.5;
          width: 100%;
        }
      }
      &__links {
        padding: 50px 40px 56px;

        &-title {
          font-size: 23px;
        }
      }
      &__email-title, &__telegram-title {
        font-size: 16px;
      }
      &__email-text, &__telegram-text {
        font-size: 17px;
      }
      &__decor {
        width: 260px;
        height: 113px;
      }
    }
  }
  @media screen and (max-width: 1260px) {
    .contact {
      &__message {
        left: 38%;
      }
      &__links {
        left: 62%;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .contact {
      &__message {
        left: 30%;
      }
      &__links {
        left: 70%;
      }
    }
  }
  @media screen and (max-height: 500px) {
    .section__content {
      &-title {
        font-size: 23px;
      }
      &-text {
        margin-top: 34px;
        font-size: 14px;
      }
    }
    .contact {
      &__message {
        &-text {
          margin-top: 28px;
          font-size: 15px;
        }
      }
      &__links {
        padding: 43px 23px 56px;
      }
    }
  }
}