$white-text-color: #ebebeb;
$darkest-color: #1D1C1C;
$half-grey-color: #444;
$dark-grey-color: #222;
$light-section-color: #ECECEC;

$small-screen-margin: 20px;
$medium-screen-margin: calc(100vw / 8);
$large-screen-margin: calc((100vw - 1140px) / 2 + 10px);
$small-home-bottom-margin: 29px;
$medium-home-bottom-margin: calc(100vh / 15);